[2018-11-12 10:13] lifeart opened #2 "context-related property rendering issue"
So, what if thing we trying to render - just property `{{this.foo}``, looks like now it's produce an issue. How to solve issue? - pass context to `hot-load` helper and check inside it - is property exists on context

[2018-11-15 15:39] martin-hoger opened #3 "Could not find module `@ember/template-compilation`"
Thank you very much for this addon. I am very much looking forward to use it.

Unfortunately I get following error:
[code]
I got his message with Ember v 3.3.1, so I tried to upgrade to 3.5.1 but the same result. :(

ember --version
[code]

ls node_modules/@ember
[code]

Can you give me a hint how to deal with it?

[2018-11-15 15:48] lifeart commented on #3
Hi! @martin-hoger can you min create repo with this issue example?

[2018-11-15 19:40] lifeart commented on #3
@martin-hoger can you provide your versions of `ember-cli-babel` and `babel-plugin-ember-modules-api-polyfill` and `ember-rfc176-data`?

[2018-11-15 20:01] #2 closed

[2018-11-16 07:30] martin-hoger commented on #3
Thank you for your swift reply! I am currently super busy, I will try to prepare next week. Maybe it is just on my side. Maybe somebody else will also encounter this error...

[2018-11-16 08:05] martin-hoger commented on #3
I have tried v0.0.40, the same result. :(

I check version in node_modules/*/package.json (hope it is connect place to do that):
ember-cli-babel@6.6.0
babel-plugin-ember-modules-api-polyfill@2.5.0
ember-rfc176-data@0.3.5

Here is my package.json:
[code]

[2018-11-17 04:49] mfeckie opened #5 "Cannot read property 'enabled' of undefined"
When trying to consume this addon when I boot our app I get

`Cannot read property 'enabled' of undefined`

The only way I can find to solve it is to edit `index.js` of `ember-ast-hot-loader` in `node_modules` and add

[code]

[2018-11-17 07:39] lifeart commented on #5
@mfeckie is addon working correctly after this declaration?
(default _OPTIONS delcaration added to 0.0.41)

[2018-11-17 18:32] hugoruscitti commented on #5
I had the same issue, after update to 0.0.41 starts to work fine :)

[2018-11-17 18:50] hugoruscitti opened #6 "404 error when run ember s with --proxy"
Hi, i see this error when i trying update a component in ember running with the --proxy parameter:

![electronica 2018-11-17 15-45-27](https://user-images.githubusercontent.com/99183/48664591-d16b0c80-ea7f-11e8-8a61-62424fb1900c.png)

I think it can be related to "rootURL" parameter, if i run the same ember app without the proxy parameter works fine.

To reproduce this error, i think you can run a

[2018-11-17 20:08] lifeart commented on #6
@hugoruscitti thanks for reporting, yeah, looks like `ember-cli` can't exclude some requests from proxying, only livereload - https://github.com/ember-cli/ember-cli/blob/master/lib/tasks/server/middleware/proxy-server/index.js#L47

[2018-11-17 20:31] lifeart commented on #6
@hugoruscitti can you try `0.0.42`? Added fallback behaviour for script errors, if custom `hot-load` middleware unavailable, we use fallback url (little bit more code to evalute & parse for browser, but result of hot-reloading must be same)

[2018-11-17 21:04] #5 closed

[2018-11-17 21:15] lifeart commented on #3
using your package json I can run app
[code]

looks like `ember-autosave` enforce`ember-cli-babel` downgrade

![image](https://user-images.githubusercontent.com/1360552/48665850-00f13780-eac7-11e8-8775-4511e66a681b.png)

[2018-11-22 08:08] #6 closed

[2018-11-26 16:12] hanssen opened #11 "Helper app-version config has no effect"
I use the [ember-cli-app-version](https://github.com/ember-cli/ember-cli-app-version) plugin which resides in "node_modules/ember-cli-app-version/app/helpers/app-version.js".

The console mentions to `add "app-version" into "ember-cli-build.js" in application config section`.

When I copy and paste the config code
[code]
into my ember-cli-build.js and restart the server, the message still appears

[2018-11-26 16:15] lifeart commented on #11
@hanssen thanks for report! Can you provide `ember-cli`, `ember-source` versions? I think we can fix you issue. (as short-term fix, you can add `app-version` into this array - https://github.com/lifeart/ember-ast-hot-load/blob/master/lib/ast-transform.js#L23)

[2018-11-26 16:16] lifeart commented on #11
also, if you have time to create mvp bug  repo, it will be great!

[2018-11-26 16:20] hanssen commented on #11
Thank you for the immediate response!

I use `"ember-cli": "~3.3.0"` and `"ember-source": "^3.1.3"`.

Extending the mentioned array did not fix the error. The console message does not appear any more, but my app breaks silently, without any console errors or warnings (as before).

[2018-11-26 19:58] lifeart commented on #11
@hanssen can you try `ember-ast-hot-load@0.0.46`?

[2018-11-27 09:35] hanssen commented on #11
@lifeart I tried 0.0.46 the info containing the config example code does not appear any more. But some code still breaks silently. I discovered the app-version plugin seems to work in 0.0.44 as well as 0.0.46, the output appears on the page. Another component is breaking, I have broken CSS and a webcam video shoud appear, but does not.

I tried the ember-ast-hot-load plugin in another project. Aft

[2018-11-27 10:34] lifeart commented on #11
@hanssen thank you for debugging! Can you provide "broken parts" hbs code? (I need to check how AST transform work with it)

[2018-11-27 11:02] hanssen commented on #11
@lifeart I created https://github.com/vepro-dev/hot-reload. If you clone it, the "pretty toggle" shows a checkbox. No errors in the console. If you remove the _ember-ast-hot-load_ plugin the "pretty toggle" shows a sliding toggle button. The styling fails with the plugin.

[2018-11-29 08:04] lifeart commented on #11
Yeah, I can confirm some stange dom behavour, root cause may be "jquery-dom-manipulations" in semantic-ui, but I'm continue to digging

![image](https://user-images.githubusercontent.com/1360552/49207611-7b269380-f3c6-11e8-9164-4acaf184312d.png)

[2018-11-29 08:21] lifeart commented on #11
@hanssen try `0.0.47` issue fixed

[2018-11-29 08:21] #11 closed

[2018-11-29 09:44] hanssen commented on #11
@lifeart version `0.0.47` is not available yet?

[2018-11-29 09:51] lifeart commented on #11
@hanssen just published, https://www.npmjs.com/package/ember-ast-hot-load

[2018-11-29 10:00] hanssen commented on #11
@lifeart It works now - I tested both big projects I work on. It's really a great benefit to keep the current application state, when working on components! Thank you so much for your support!

[2018-12-22 17:29] gossi opened #16 "Page reload instead of Hot Reload (MU + sparkles)"
Hey,

I gave this addon a try. I've tried it with cutting edge technology, like MU and sparkles, ember-css-modules, decorators (the cool octane stuff!). It may be, because of this but this addon is not hot reloading but the page itself reloads. I can see the console output about the correct resource that should be reloaded though the whole page is refreshed instead.

Here is the repo I'm currently

[2018-12-22 19:35] lifeart commented on #16
@gossi, thanks for feedback! I'm on it

[2018-12-22 19:52] lifeart commented on #16
Can't run example app due to this error:
[code]

[2018-12-22 21:00] gossi commented on #16
Oupsi, pushing helps. Repo updated ;)

[2018-12-22 22:36] lifeart commented on #16
@gossi, can you check againist `ember-ast-hot-load@0.0.52`?
* looks like route templates now hot-reloaded
* single named 2 levels scoped components support
(foo/bar will work)

https://github.com/lifeart/ember-ast-hot-load/pull/19/files#diff-57d4324420c0fb7b3b5a74262fa07ef6R221

[2018-12-22 22:38] lifeart commented on #16
Also, test repo works for me after `ember-css-modules` removal (looks like it has `path` resolution issues on Windows)

[2018-12-23 21:32] lifeart commented on #16
Looks like all existing issues fixed in `ember-ast-hot-load@0.0.57`, we definitely should test it and close this ticker if all "ok".

[2018-12-26 11:47] lifeart commented on #16
Alot of `MU` related changes in `0.0.64`

[2018-12-26 14:06] gossi commented on #16
Just tested, it works amazing. Terrific job here!

[2018-12-26 14:06] #16 closed

[2018-12-26 14:33] lifeart commented on #3
Hi @martin-hoger! I think this PR should solve this issue https://github.com/lifeart/ember-ast-hot-load/pull/33
can you check with `ember-ast-hot-load@0.0.65`?

[2018-12-26 22:28] lifeart opened #36 "Do we need notifications about reloading?"
example - https://apvarun.github.io/toastify-js/#

`Updating <ComponentName>...`

`<ComponentName> updated..`

[2018-12-26 22:32] lifeart opened #37 "Public api for custom reloaders/types?"

[2018-12-29 11:56] lifeart opened #42 "ember-engines-support?"

[2018-12-29 15:28] lifeart opened #43 "Proper exclude from production build"
- [x] disallow ast transformations even if addon blacklisted
- [x] rebel "enabled" option functionality
- [x] auto exclude addon on any `test` and `production` env

[2019-01-09 09:47] lifeart opened #46 "calling set on destroyed object in tests"
"Assertion Failed: calling set on destroyed object: <dreamcatcher-web-app@service:hot-loader::ember738>.iterationId = 1"

[2019-01-09 18:05] #46 closed

[2019-01-10 16:05] martin-hoger commented on #3
Thanks, Alex! The error is gone, however if I edit any template, the livereload would just reload the whole page. :(

[2019-01-13 00:00] jdaviderb opened #48 "[FastBoot] ReferenceError: document is not defined"
Hello I try use this addon on a project with ember-fastboot but I have this error

![image](https://user-images.githubusercontent.com/4649902/51079787-22703900-169c-11e9-9b34-d930a949e2a0.png)

![image](https://user-images.githubusercontent.com/4649902/51079790-29974700-169c-11e9-9e4b-049f4ffcaff6.png)

[2019-01-13 09:05] lifeart commented on #48
Looks like I have fix for it, https://github.com/lifeart/ember-ast-hot-load/pull/49

[2019-01-13 19:34] lifeart commented on #3
@martin-hoger no, you need enabled livereload. Can you try `ember-ast-hot-load@0.0.72`? It has some fixes for scoped app names and minor improvements.

If it not working, can you create "minimal" reproduction repo? It will help to debug this issue.

[2019-01-13 22:14] jdaviderb commented on #48
@lifeart awesome now it works fine thanks 💯 🥇

[2019-01-15 07:16] #43 closed

[2019-01-15 14:56] martin-hoger commented on #3
Hi Alex, I have tried ember-ast-hot-load@0.0.72 but still nothing. Here is a link for the "mininal" repo:
[https://github.com/martin-hoger/ember-ast-hot-load-test](https://github.com/martin-hoger/ember-ast-hot-load-test)
Thank you for your extra help!

[2019-01-15 19:57] lifeart commented on #3
@martin-hoger thank you for repo! It's really single-line fix, related to root url - https://github.com/lifeart/ember-ast-hot-load/pull/52/files

Addon trying to get assets by `/e/_hot-load..` path, instead of `/_hot-load..`

[2019-01-15 20:08] lifeart commented on #3
` ember-ast-hot-load@0.0.75` should work for you

[2019-01-16 10:21] lifeart opened #54 "Prevent hot-reloading for controller, having same name with component"

[2019-01-16 13:48] #54 closed

[2019-01-16 13:48] #37 closed

[2019-01-16 13:49] lifeart commented on #37
https://github.com/lifeart/ember-ast-hot-load/blob/master/README.md#public-api

[2019-01-18 16:56] jdaviderb opened #56 "Compile Error: hot-load is not a helper"
Hello @lifeart I'm trying to use this addon in a project with PODS structure and  I have this error when  I run `ember test`

version:  `"ember-ast-hot-load": "^0.0.76"`

[code]

![image](https://user-images.githubusercontent.com/4649902/51401107-fdeee380-1b17-11e9-9632-1a29df1099b4.png)

PD: I tried exclude the addon from test build but it's still failing

[2019-01-18 17:15] jdaviderb commented on #56
@lifeart I changed the npm version  direct to github’s repo and now it works. maybe you should update the npm package

[code]

[2019-01-18 18:38] lifeart commented on #56
@jdaviderb can you provide `environment` value?

[2019-01-18 18:40] lifeart commented on #56
looks like funnel excluded `addon` files, but `ast` transformation not disabled

[2019-01-18 18:54] jdaviderb commented on #56
@lifeart
[code]
enviroment:
![image](https://user-images.githubusercontent.com/4649902/51406861-54641e00-1b28-11e9-882c-be214cf5aeff.png)

error:
![image](https://user-images.githubusercontent.com/4649902/51406920-82e1f900-1b28-11e9-83db-5950b550862a.png)

[2019-01-18 19:00] lifeart commented on #56
@jdaviderb
can you add `console.log(config.addonContext);`

before:

https://github.com/lifeart/ember-ast-hot-load/blob/master/lib/ast-transform.js#L385

it should be located in

`node_modules/ember-ast-hot-load/lib/ast-transform.js`

[2019-01-18 19:41] lifeart commented on #56
@jdaviderb so, looks like this path not reached in test mode, so, is log available on line `#373` (if we move statement into it) in `ember test` mode?

[2019-01-18 19:42] lifeart commented on #56
do you have `hot-load` helpers, placed manually in app templates?

[2019-01-18 19:57] jdaviderb commented on #56
@lifeart not, I don't have hot-helper manually in the templates

![image](https://user-images.githubusercontent.com/4649902/51409774-bd4f9400-1b30-11e9-9117-054b071beb37.png)

![image](https://user-images.githubusercontent.com/4649902/51409948-39e27280-1b31-11e9-81e8-2a4636afd2e0.png)

[2019-01-18 20:05] lifeart commented on #56
surprising, looks like it can be an temp files cache issue, because ast transform not running in `test` mode -> `hot-load` helper can't appear in templates. But if templates already compiled in dev mode and ember running with `env=test` it can cause this issue.

[2019-01-28 08:45] andrewfan commented on #56
@jdaviderb @lifeart I'm having the same issue and `rm -rf tmp/` does not help

[2019-01-28 10:16] lifeart commented on #56
@andrewfan can you please create reproduction repo? I will dig it

[2019-02-07 06:52] lifeart opened #58 "Ability to reload not-used component in background"
Now if component not rendered, we enforce application reloading, sometimes this is not comfortable.
I think we need an configuration flag, disabled by default, allowing silent components reloading.

[2019-02-07 07:58] lifeart commented on #56
@jdaviderb could you check againist https://github.com/lifeart/ember-ast-hot-load/pull/59?
main changes in https://github.com/lifeart/ember-ast-hot-load/pull/59/files#diff-168726dbe96b3ce427e7fedce31bb0bcR50 (50-67)

[2019-02-08 06:54] #3 closed

[2019-02-08 18:47] lifeart commented on #56
let's assume this bug fixed in `0.0.78`, due to #59

[2019-02-08 18:47] #56 closed

[2019-02-13 13:58] lifeart opened #62 "Hot-reloading not working if assets fingerprinting enabled"
reproduction:

[code]

[2019-02-13 14:02] lifeart commented on #62
fix: https://github.com/lifeart/ember-ast-hot-load/pull/61

[2019-02-13 14:29] lifeart commented on #62
fixed in `v0.0.79`

[2019-02-13 14:29] #62 closed

[2019-02-13 14:36] lifeart opened #63 "skip hot-reloading for '-loading' route templates"
we don't need to hotreload loading templates

[2019-02-13 15:20] lifeart commented on #63
or reload routes?

[2019-02-14 19:10] lifeart opened #64 "MU floating bug with dummy multiple reloads"
https://github.com/onebar/debug-hot-load

[2019-02-18 15:15] lifeart commented on #64
class BaseASTHotLoadTransform {
  constructor(data) {
    const moduleName = data.module  || data.meta.moduleName || null;
   // moduleName  contains processed template file name, it may help with dynamic components resolutions
    this.syntax = null;
  }

[2019-02-18 15:17] lifeart commented on #64
https://github.com/babel/ember-cli-babel/blob/master/lib/relative-module-paths.js

[2019-02-18 15:18] lifeart commented on #64
https://github.com/ember-cli/amd-name-resolver

[2019-02-19 21:19] lifeart commented on #64
`this.parallelBabel.params.addonContext` -> `addonContext`

[2019-03-03 04:07] jbryson3 opened #68 "Unknown Transformation: 'fastboot-safe'"
I'm tried installing this addon on an ember@2.13.3 app (no fastboot) and ran into the following error on `ember s`.

[code]

[2019-03-04 18:44] lifeart commented on #68
Hi @jbryson3! Thank you for report!
 Could you plz provide ember-cli version? Issue may be related to https://github.com/ember-cli/ember-cli/pull/7245 (in older ember-cli versions `importTransforms` not implemented) Also, it will be great, if you can create minimal reproduction repo. Thanks!

[2019-03-04 18:46] lifeart commented on #68
`ember-cli@v2.15.1` should support `importTransforms` from addons

[2019-03-04 18:51] jbryson3 commented on #68
I'm on an older version than supported `ember-cli: 2.13.2` - thanks for the quick reply!

[2019-03-04 18:51] #68 closed

[2019-03-04 19:00] lifeart commented on #68
@jbryson3 you can try https://github.com/adopted-ember-addons/ember-cli-hot-loader
or just replace
https://github.com/lifeart/ember-ast-hot-load/blob/master/index.js#L198
to
`app.import(npmPath);`

[2019-03-19 21:03] greenkeeper[bot] opened #70 "An in-range update of eslint-plugin-ember is breaking the build 🚨"
## The devDependency [eslint-plugin-ember](https://github.com/ember-cli/eslint-plugin-ember) was updated from `6.2.0` to `6.3.0`.

🚨 [View failing branch](https://github.com/lifeart/ember-ast-hot-load/compare/master...lifeart:greenkeeper%2Feslint-plugin-ember-6.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-p

[2019-03-30 17:53] greenkeeper[bot] opened #71 "An in-range update of ember-cli-babel is breaking the build 🚨"
## The dependency [ember-cli-babel](https://github.com/babel/ember-cli-babel) was updated from `7.7.0` to `7.7.1`.

🚨 [View failing branch](https://github.com/lifeart/ember-ast-hot-load/compare/master...lifeart:greenkeeper%2Fember-cli-babel-7.7.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ember-cli-babel is a direct

[2019-04-09 09:26] #71 closed

[2019-04-09 09:27] #70 closed

[2019-05-05 20:02] donaldwasserman opened #89 "Nested Angle Bracked Invocation Syntax Broken in 3.10.0-beta.5"
Hey All - I can put together a reduced test case if necessary tomorrow (it's too sunny today), but I just upgraded to ember 3.10-beta series (i'm on beta-5, but not sure if it's specific to that version) and it looks like Nested AngleBracket components get rendered as the string version of their name, ie:

[code]

This is in a full and working app, so i'm not sure there are other addons that could

[2019-05-06 00:02] lifeart commented on #89
Hi, @donaldwasserman! Thank you for report! I have some updates for `<Nested::Components />`, it's on `master` branch (not yet released), could you please try to reproduse this issue aganist master branch of this repo?

[2019-05-06 01:21] donaldwasserman commented on #89
Hey @lifeart, that branch works on my machine.

[2019-05-06 01:52] lifeart commented on #89
@donaldwasserman thank you for testing!
`ember-ast-hot-load@0.0.80` with fix released

[2019-05-06 01:54] #63 closed

[2019-05-06 01:54] lifeart commented on #63
fixed in `0.0.80`

[2019-05-06 10:00] donaldwasserman commented on #89
Hey @lifeart  - Thanks for packing up that fix.

I was getting ready to close this out, but when installed `0.0.80`, it did fix the nested components, but it looks like it's no longer respecting the `helpers` hash for usages of `my-helper`.

This is really confusing, because I was looking through the diff on that pr and I don't quite see what the issue could be.

[2019-05-24 13:55] #89 closed

[2019-06-28 19:21] donaldwasserman commented on #42
Hey @lifeart - Does this mean this doesn't work with engines?

[2019-06-28 19:58] lifeart commented on #42
@donaldwasserman I never tested it for engines..

[2019-06-28 20:10] donaldwasserman commented on #42
I am right now! I will report back (I actually thought it was breaking some things previously, but that problem was between the chair and the keyboard).

[2019-08-14 16:54] greenkeeper[bot] opened #157 "An in-range update of eslint-plugin-ember is breaking the build 🚨"
## The devDependency [eslint-plugin-ember](https://github.com/ember-cli/eslint-plugin-ember) was updated from `6.9.0` to `6.9.1`.

🚨 [View failing branch](https://github.com/lifeart/ember-ast-hot-load/compare/master...lifeart:greenkeeper%2Feslint-plugin-ember-6.9.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-p

[2019-08-26 17:10] greenkeeper[bot] opened #167 "An in-range update of ember-load-initializers is breaking the build 🚨"
## The devDependency [ember-load-initializers](https://github.com/ember-cli/ember-load-initializers) was updated from `2.0.0` to `2.1.0`.

🚨 [View failing branch](https://github.com/lifeart/ember-ast-hot-load/compare/master...lifeart:greenkeeper%2Fember-load-initializers-2.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed*

[2019-08-28 14:42] greenkeeper[bot] opened #171 "An in-range update of babel-plugin-ember-modules-api-polyfill is breaking the build 🚨"
## The dependency [babel-plugin-ember-modules-api-polyfill](https://github.com/ember-cli/babel-plugin-ember-modules-api-polyfill) was updated from `2.11.0` to `2.12.0`.

🚨 [View failing branch](https://github.com/lifeart/ember-ast-hot-load/compare/master...lifeart:greenkeeper%2Fbabel-plugin-ember-modules-api-polyfill-2.12.0).

This version is **covered** by your **current version range** and after

[2019-08-28 14:51] greenkeeper[bot] opened #172 "An in-range update of ember-cli-babel is breaking the build 🚨"
## The dependency [ember-cli-babel](https://github.com/babel/ember-cli-babel) was updated from `7.10.0` to `7.11.0`.

🚨 [View failing branch](https://github.com/lifeart/ember-ast-hot-load/compare/master...lifeart:greenkeeper%2Fember-cli-babel-7.11.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ember-cli-babel is a dir

[2019-08-29 10:38] greenkeeper[bot] opened #173 "An in-range update of eslint-plugin-node is breaking the build 🚨"
## The devDependency [eslint-plugin-node](https://github.com/mysticatea/eslint-plugin-node) was updated from `9.1.0` to `9.2.0`.

🚨 [View failing branch](https://github.com/lifeart/ember-ast-hot-load/compare/master...lifeart:greenkeeper%2Feslint-plugin-node-9.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-plu

[2019-09-10 19:08] greenkeeper[bot] opened #178 "An in-range update of ember-cli-fastboot is breaking the build 🚨"
## The devDependency [ember-cli-fastboot](https://github.com/ember-fastboot/ember-cli-fastboot) was updated from `2.1.3` to `2.2.0`.

🚨 [View failing branch](https://github.com/lifeart/ember-ast-hot-load/compare/master...lifeart:greenkeeper%2Fember-cli-fastboot-2.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ember-

[2019-09-24 00:32] greenkeeper[bot] opened #182 "An in-range update of ember-cli-htmlbars is breaking the build 🚨"
## The dependency [ember-cli-htmlbars](https://github.com/ember-cli/ember-cli-htmlbars) was updated from `3.1.0` to `4.0.0`.

🚨 [View failing branch](https://github.com/lifeart/ember-ast-hot-load/compare/master...lifeart:greenkeeper%2Fember-cli-htmlbars-4.0.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ember-cli-html

[2019-09-24 03:42] greenkeeper[bot] opened #183 "An in-range update of ember-resolver is breaking the build 🚨"
## The devDependency [ember-resolver](https://github.com/ember-cli/ember-resolver) was updated from `5.2.1` to `5.3.0`.

🚨 [View failing branch](https://github.com/lifeart/ember-ast-hot-load/compare/master...lifeart:greenkeeper%2Fember-resolver-5.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ember-resolver is a dev

[2019-11-11 19:10] #183 closed

[2019-11-11 19:10] #182 closed

[2019-11-11 19:11] #157 closed

[2019-11-11 19:11] #167 closed

[2019-11-11 19:11] #171 closed

[2019-11-11 19:11] #172 closed

[2019-11-11 19:11] #173 closed

[2019-11-11 19:11] #178 closed

[2019-12-12 19:05] greenkeeper[bot] opened #218 "An in-range update of ember-cli-babel is breaking the build 🚨"
## The dependency [ember-cli-babel](https://github.com/babel/ember-cli-babel) was updated from `7.13.0` to `7.13.1`.

🚨 [View failing branch](https://github.com/lifeart/ember-ast-hot-load/compare/master...lifeart:greenkeeper%2Fember-cli-babel-7.13.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ember-cli-babel is a dir

[2020-02-12 16:38] donaldwasserman opened #254 "Yarn Workspace Support"
Hi there -

Encountered this issue attempting to convert my project into a yarn workspace. Wanted to document this here for future reference.

[code]

[2020-02-12 18:23] lifeart commented on #254
Hi @donaldwasserman! Thank you for report, could you workaround from readme? https://github.com/lifeart/ember-ast-hot-load#cannot-find-module

[2020-02-12 19:09] donaldwasserman commented on #254
@lifeart Thanks for getting back so quickly. Here's the config I'm using for my root package.json

[code]
with `nohoist`, the package gets installed in `A/node_modules` but the error still throws. This is the first time i've ever setup a yarn workspace, so am just randomly changing config.

[2020-02-12 19:15] lifeart commented on #254
@donaldwasserman could you try add `**/ember-source` into nohoist?
is it yarn 2.0 ?

[2020-02-12 19:58] donaldwasserman commented on #254
So, I am using yarn 1.x, but adding ember source to nohoist worked out great.

I'd be happy to update the docs to make a little more clear if you want.

[2020-02-12 19:58] #254 closed

[2020-02-12 20:57] lifeart commented on #254
@donaldwasserman thank you! PR for docs will be great!

[2020-03-07 01:11] greenkeeper[bot] opened #272 "An in-range update of eslint-plugin-ember is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [eslint-plugin-ember](https://github.com/ember-cli/eslint-plugin-ember) was updated from `7.9.0` to `7.10.0`.

🚨 [View failing branch](https://github.com/lifeart/ember-a

[2020-03-28 12:12] greenkeeper[bot] opened #285 "An in-range update of eslint-plugin-node is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [eslint-plugin-node](https://github.com/mysticatea/eslint-plugin-node) was updated from `11.0.0` to `11.1.0`.

🚨 [View failing branch](https://github.com/lifeart/ember-a

[2020-04-09 00:47] greenkeeper[bot] opened #295 "An in-range update of ember-cli-htmlbars is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The dependency [ember-cli-htmlbars](https://github.com/ember-cli/ember-cli-htmlbars) was updated from `4.2.3` to `4.3.0`.

🚨 [View failing branch](https://github.com/lifeart/ember-ast-hot

[2020-04-10 04:22] greenkeeper[bot] opened #298 "An in-range update of ember-cli-fastboot is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [ember-cli-fastboot](https://github.com/ember-fastboot/ember-cli-fastboot) was updated from `2.2.1` to `2.2.2`.

🚨 [View failing branch](https://github.com/lifeart/ember

[2020-05-19 14:32] greenkeeper[bot] opened #343 "An in-range update of babel-plugin-ember-modules-api-polyfill is breaking the build 🚨"
***
🚨 **Reminder!** Less than one month left to migrate your repositories over to Snyk before Greenkeeper says goodbye on June 3rd! 💜 🚚💨 💚

[Find out how to migrate to Snyk at greenkeeper.io](https://greenkeeper.io)
***
## The dependency [babel-plugin-ember-modules-api-polyfill](https://github.com/ember-cli/babel-plugin-ember-modules-api-polyfill) was updated from `2.12.0` to `2.13.0`.

🚨 [View fa

[2020-06-11 17:47] alexabreu opened #358 "Update addon to work with latest Ember release(s)."
It appears the build is breaking for release, beta, and canary channels, but passes for older Ember 2.X versions. Is this expected? What is needed to get this working with recent Ember releases?

[2020-06-12 16:48] #218 closed

[2020-06-12 16:48] #272 closed

[2020-06-12 16:48] #285 closed

[2020-06-12 16:48] #295 closed

[2020-06-12 16:48] #298 closed

[2020-06-12 16:48] #343 closed

[2020-06-12 16:50] lifeart commented on #358
@alexabreu it should work with pre-octane. Poking on it to get working with latest ember https://github.com/lifeart/ember-ast-hot-load/pull/328

[2020-08-25 18:09] lifeart commented on #358
@alexabreu just checked for 3.20, looks like it's working, issue likely in CI itself

[2020-08-25 18:09] #358 closed

[2020-10-08 15:03] #64 closed

[2020-10-08 15:04] lifeart opened #442 "Cleanup [remove MU support]"
since is MU is no longer in ember, I think we good to go to remove any MU related code, to simplify codebase

[2020-10-10 20:29] jowi-dev commented on #442
What is MU?

[2020-10-11 07:58] lifeart commented on #442
@jowi-dev this is Module Unification

https://github.com/emberjs/rfcs/blob/master/text/0143-module-unification.md

https://blog.emberjs.com/2019/03/11/update-on-module-unification-and-octane.html

[2020-10-11 15:21] jowi-dev opened #445 "Installing ember-ast-hot-load disables all reload functionality on brand new ember app"
Hey! I really was excited to find this plugin, and I would prefer to use it with usePods:true, here is my issue:

Ember version: 3.21.2
Node Version: 12.14.0
OS: x64 Ubuntu 20.0.4

1) ember new <AppName>
2) ember install ember-ast-hot-load
3) ember s
4) ember g component test-hotload
5) open up localhost:4200, delete the welcome component from application.hbs, add the <TestHotload /> component
6)

[2020-10-11 17:35] lifeart commented on #445
Hi, @jowi-dev, could you try same on 1.0.1 version?

[2020-10-12 14:26] jowi-dev commented on #445
On the 1.0.1 version now - same result. I see in the terminal via morgan that the update is happening, "Get ...../template.hbs" but the change isn't reflected in the browser until I refresh. Any ideas?

[2020-10-13 14:35] vlascik opened #448 "getWithDefault() deprecation"
`getWithDefault()` was deprecated recently (https://deprecations.emberjs.com/v3.x/#toc_ember-metal-get-with-default).

It's used in hot-loader service here: https://github.com/lifeart/ember-ast-hot-load/blob/c7a0d88d4507117fb6b04e6890b8a31587c59883/addon/services/hot-loader.js#L302

[2020-10-14 12:39] jowi-dev commented on #445
@lifeart Yeah Its just fresh start app. I'll push it up to a repo tonight and send you the link here. The component is rendered inside application.hbs

[2020-10-15 12:24] jowi-dev commented on #445
@lifeart so its a bit different of a problem than I thought - hot reload works when I'm using VIM in the terminal, but when I use VSCode it doesn't. https://github.com/jowi-dev/ember-ast-sandbox using 'npm run dev'

[2020-11-09 09:08] #448 closed

[2020-11-09 09:10] lifeart commented on #448
fixed in ember-ast-hot-load@1.1.1

[2020-11-16 23:44] patocallaghan opened #472 "Does not work with Embroider"
I know Embroider is still in an experimental phase but just thought I'd open this issue to log it anyway. I tried install ember-ast-hot-load in the [embroider-spike](https://github.com/GavinJoyce/embroider-spike#embroider-spike) app but it throws an error.

[Repo branch](https://github.com/GavinJoyce/embroider-spike/tree/patoc/ember-ast-hot-load)

When loading http://localhost:4200/players you get

[2020-11-25 13:49] knowerlittle commented on #42
@donaldwasserman any updates on this? Did you get it working?

[2020-11-30 17:34] donaldwasserman commented on #42
@knowerlittle Unfortunately, I solved this the honest way: by giving up on engines.

[2020-12-02 12:31] patocallaghan opened #481 "`console.log` when hot reload happens?"
Since we've rolled this out in our app, engineers have been really happy with it. The one bit of feedback we got was it would be helpful to have some confirmation that a hot reload happened.

@lifeart any thoughts on that? Would you be open to having the addon emit a `console.log` in the browser (possibly a timestamp and the file changed) when a hot reload happens? It could be configurable? Off by

[2020-12-02 12:47] lifeart commented on #481
Hi @patocallaghan glad to hear it was useful for your team!
I have related issue - https://github.com/lifeart/ember-ast-hot-load/issues/36

If you could investigate best ways to do it - I'm completely open for such improvements.

It may be an toast, or `console.info`, or combination.

[2020-12-02 15:00] patocallaghan commented on #481
I'm not a big fan of toast notifications but I was definitely thinking of more in the `console.info` direction.

[2020-12-02 15:08] lifeart commented on #481
I’m ok with it

[2020-12-08 18:24] alexabreu opened #487 "Hot reload not working for new ember project."
My team had happily been using `ember-ast-hot-load` since version `0.1.4`. However, a change has recently been introduced which seems to break the hot reloading functionality. We assumed this breakage was related to our own project configuration/dependencies, but I was just able to reproduce the same problem by installing `ember-ast-hot-load` on a brand new ember project. Tried these steps with `e

[2020-12-08 19:24] lifeart commented on #487
may be related - https://github.com/lifeart/ember-ast-hot-load/issues/445

[2020-12-08 19:35] alexabreu commented on #487
@lifeart yes, that is very much related. Seems like VS Code is the culprit. I'm going to close this issue and poke around to see if I can track down a VS Code setting which might have changed in a recent release. Thanks for pointing me in the right direction!

[2020-12-08 19:35] #487 closed

[2020-12-08 19:50] alexabreu commented on #445
I am seeing the same thing when saving via VS Code v. VIM. Interestingly save doesn't trigger a hot reload in the browser when using Text Edit either. Could this be related to how OS X is handling file names? Did something in this repo recently change around how changed files are parsed?

[2020-12-09 16:37] alexabreu commented on #445
@jowi-dev can you try out my patch PR to see if it fixes the problems you encountered? ☝️

[2020-12-09 16:48] jowi-dev commented on #445
I will! I'll reply here when I've seen it. Thank you!

On Wed, Dec 9, 2020 at 11:37 AM Alex Abreu <notifications@github.com> wrote:

[2020-12-09 17:21] #445 closed

[2020-12-09 17:36] lifeart commented on #472
@patocallaghan in theory, it's possible to get it working with embroider, but some extra work requred for it.
We need to let emberoider know about our `helper` and such..

[2020-12-09 17:37] lifeart commented on #445
`1.2.2` released, @jowi-dev let me know if it's not working for you, I will reopen issue

[2021-03-30 20:40] nwhittaker opened #558 "Template Compiler error in Ember 3.25"
After upgrading a project to Ember 3.25, the following error appears when running `ember serve`:

[code]

The error is gone after disabling `ember-ast-hot-load`. I upgraded this project to Ember 3.25 and got the same error running `ember serve` with the following log:

<details>
<summary>Stack Trace and Error Report</summary>

[code]
</details>

See https://github.com/emberjs/ember.js/issues/19482

[2021-03-31 06:14] #558 closed

[2021-03-31 06:16] lifeart commented on #558
Hi @nwhittaker, thank you for report!
Try `2.0.0`

[2021-04-02 16:35] nwhittaker commented on #558
Thanks for quick work @lifeart, much appreciated.

I'm running into a new, similar error w/ modifiers now. I'll put together a test case and log a separate issue for that.

[2021-04-02 16:43] nwhittaker opened #562 "Modifier causes Template Compiler error in Ember 3.25"
After upgrading a project with **modifiers** to Ember 3.25, the following error appears when running `ember serve`:

[code]

The error is gone after disabling `ember-ast-hot-load`. I added a failing test case to a fork of this project ([see comparison](https://github.com/lifeart/ember-ast-hot-load/compare/master...nwhittaker:master)) and got the same error running `ember serve` with the following

[2021-04-03 11:48] #562 closed

[2021-04-03 11:53] lifeart commented on #562
Hi @nwhittaker! Thank you for report! `ember-ast-hot-load@2.0.1` landed

[2021-04-05 02:10] nwhittaker opened #564 "HTML block content causing Template Compiler Error in Ember 3.25"
Follow-on issue to #562. Have templates with a structure like `<ComponentName><div>...</div></ComponentName>` and seeing the following error when running `ember serve`:

[code]

The error is gone after disabling `ember-ast-hot-load`. I added a failing test case to a fork of this project (see https://github.com/nwhittaker/ember-ast-hot-load/commit/a3917e03e1db93eea6d13c0581b7085419c8f29b) and got t

[2021-04-05 07:01] #564 closed

[2021-04-05 07:02] lifeart commented on #564
Hi @nwhittaker! Thank you for report! `ember-ast-hot-load@2.0.2` landed

[2021-04-05 14:22] nwhittaker opened #566 "Components with named blocks are empty"
Named blocks are new to 3.25. When `ember-ast-hot-load` is enabled, components with named blocks aren't rendering them.

The below should render "content", but currently does not:
[code]

Also added a usage scenario at https://github.com/nwhittaker/ember-ast-hot-load/commit/70c281108aca856302406c28b9967a97f9a1ecb7.

[2021-04-05 16:30] #566 closed

[2021-04-05 16:44] lifeart commented on #566
@nwhittaker thank you for report! `ember-ast-hot-load@2.0.3` published

[2021-04-05 17:22] nwhittaker commented on #566
I think that's everything! Thanks again, @lifeart.

[2021-04-06 17:16] lifeart opened #568 "explore Ember.__loader.require and window.require usages"
example:
[code]

ref https://github.com/emberjs/ember-inspector/blob/master/ember_debug/object-inspector.js#L40

[2021-05-06 10:03] ilanwei1 commented on #42
@lifeart addon works great,  any plans to support engines?

[2021-05-06 11:23] lifeart commented on #42
Hi @ilanwei1 I'm not working with engines (in my projects), but I'm very open for any contribution here, if you looking for things to start from - we could create a reproduction repo with errors, related to engines and expected behaviour.

We have to figure out things to support:

LazyEngines
Not-LazyEngines
Engines, mounted as routes
Engines, mounted as components
Components inside engines (if mo

[2021-05-14 21:23] nwhittaker opened #602 "Trigger `did-update` lifecycle modifier on reload"
Is it possible to trigger the `did-update` lifecycle modifier on reload?

Consider a case where `@user` takes a few seconds to populate:
[code]

On the first render, the thumbnail is created when `@user` is populated. However, if I edit only this template, and hot-load re-renders the template, I'm left seeing a broken image because `this.createThumbnail` does not run for the updated template.

[2021-05-22 11:15] lifeart commented on #602
Hi @nwhittaker, nope, because during hot-reload we don't  "rerender" component, we removing it, and applying back (count it as a new render, not update)

For hot-reload case only did-insert modifier should work

[2021-05-22 11:16] lifeart opened #605 "css modules, tailwind support?"
https://discord.com/channels/480462759797063690/486013244667068436/844603656396603452

[code]

we should check is hot-reload working for new project, and if not, apply this change

[2021-05-24 15:02] nwhittaker commented on #602
I guess I'm mainly wondering if there's a way to restore the component's previous state? I was thinking replaying `did-update` would be an easy-ish way to do that.

I realize there are other use-cases where this may not be the "happy path", though. And the complexity of the implementation could easily outweigh the value.

Thanks for the consideration.

[2021-05-24 15:20] lifeart commented on #602
component state is quite complex thing (except pure components or stateless), we have to track arguments-based state change and event-based (and DOM events may bubble to component from child components)

in short: nope it's likely impossible for generic ember/glimmer components

but, it's possible to implement if you use your own component manager, you could keep component state as not-related to

[2021-08-11 18:05] brettgoulder opened #623 ""seen set should be available" template compiler error on Ember 3.27.0"
Ember threw the error "seen set should be available" after we had upgraded our app to 3.27.0. After removing the ember-ast-hot-load plugin, this resolved the issue for us.

## Steps to reproduce
1. Create a new ember app that is version 3.27.0
2. `ember install ember-ast-hot-load`
3. `ember serve`

[code]

Stacktrace is here: https://gist.github.com/brettgoulder/feb32d64b5638ead4195dd1536c7f395

[2021-08-14 09:47] lifeart commented on #623
looks like it's related to some of internal ember ast transofrms, and clone logic of ast-hot-load https://github.com/emberjs/ember.js/blob/1faffbbf5fd6439b75b5d6ffb57b668a541e8553/packages/ember-template-compiler/lib/plugins/transform-resolutions.ts#L95

[2021-08-14 10:28] lifeart commented on #623
Hi @brettgoulder! Could you check version "3.0.0"?

[2021-08-17 23:40] brettgoulder commented on #623
This works now, thanks @lifeart!

[2021-08-17 23:40] #623 closed

[2021-12-09 15:20] xomaczar opened #692 "ASTHotLoadTransform using class based template compilation plugins is deprecated on ember@3.28"
DEPRECATION: Using class based template compilation plugins is deprecated, please update to the functional style: ASTHotLoadTransform [deprecation id: template-compiler.registerPlugin]

[2022-02-15 23:27] nwhittaker opened #716 "Yielded component not resolved when `...attributes` exists"
I noticed a somewhat convoluted issue where a yielded component is not rendered when combined with `...attributes`.

Given a component that yields a component:

[code]

And invoking it:

[code]

Outputs the static string `BlockParam` instead of the usual list of numbers that `x-test-wrapper` produces.

Interestingly, invoking it without `...attributes` or adopting the curly-component syntax produc

[2022-02-16 06:28] lifeart commented on #716
Hi @nwhittaker! Thank you for report and reproduction!
It may be related to this lines: https://github.com/lifeart/ember-ast-hot-load/blob/master/lib/ast-transform.js#L316

Related PR's:
 https://github.com/emberjs/ember.js/pull/17146
 https://github.com/emberjs/ember.js/pull/17160
 https://github.com/glimmerjs/glimmer-vm/pull/892

Could you try test https://github.com/lifeart/ember-ast-hot-load/i

[2022-02-16 15:54] nwhittaker commented on #716
I tested my sample on top of #717 and it did appear to resolve the issue, thanks!

[2022-02-16 16:11] #716 closed

[2022-02-16 16:14] lifeart commented on #692
@xomaczar thank you for report, right now ast-hot-load does not suppor embroider, and likely 3.28 will be last supported version

[2022-02-16 16:14] lifeart commented on #716
@nwhittaker thank you for testing!

`ember-ast-hot-load@3.0.1` published

[2022-02-16 16:26] lifeart opened #729 "Ember v4 support and Embroider"
Related issues:

https://github.com/embroider-build/embroider/issues/1118
https://github.com/lifeart/ember-ast-hot-load/issues/692
https://github.com/lifeart/ember-ast-hot-load/issues/472

Tldr:

ember-ast-hot-load does not support embroider and ember v4, also, it does not support local components (template imports)
we need to come up with better concept of hot-reloading for this tooling

[2022-03-09 20:56] emilkarl opened #740 "Getting errors when having a helper with the same name as a component"
I have a component `<Icon>` and there is also a helper inside [ember-leaflet ](https://github.com/miguelcobain/ember-leaflet) called `icon`.

Now Im getting weird behaviours because of this. For example I can not to `<span ...attributes>` inside my Icon component because `ast-hot-reload` is treating it as a helper.

Any ideas how to fix it, without renaming my component? I don’t need hot reloading

[2022-03-10 05:17] lifeart commented on #740
Hi @emilkarl! Try to replace `helpers: ["Icon"]` with `helpers: ["icon"]` in `ember-ast-hot-load` config

[2022-03-10 08:37] emilkarl commented on #740
I already have `icon` in there, it doesn't help. I guess the easiest thing would be to rename my component but I would like to avoid that :D

[2022-03-10 08:43] lifeart commented on #740
@emilkarl do you use latest ast-hot-load version? error may be related to https://github.com/lifeart/ember-ast-hot-load/pull/717

If you have only console warnings, it's fine

[2022-03-10 08:57] emilkarl commented on #740
Yes, we’re on 3.0.0. Is there some way to ignore an helper? The icon helpers comes from a different package so I could just ignore it in the hot reload. Tried looking through the code but couldnt find a way to do it. I always want `Icon` to be treated as a component.

[2022-04-30 10:43] vlascik commented on #729
any progress on this? rewriting AST transforms into functional style is fairly easy (if you need an example, let me know), and even if embroider doesn't work with this yet, hot-load would be useful (especially since embroider itself doesn't work on all apps anyway).

[2022-05-09 10:07] lifeart commented on #729
Hi @vlascik! At the moment I'm not planning to support Embroider, webpack has different bundling approach and hot-reload primitives. Problem not only with AST transforms.

[2022-06-03 15:03] eduscrakozabrus opened #784 "Template Compiler Error (TemplateCompiler) in ember-ast-hot-load/templates/components/hot-content.hbs"
Ember 4.4.1

JSReloader watches js|ts|hbs
Template Compiler Error (TemplateCompiler) in ember-ast-hot-load/templates/components/hot-content.hbs

Class constructor ASTHotLoadTransform cannot be invoked without 'new'

[2022-06-03 15:27] lifeart commented on #784
Hi @eduscrakozabrus, thank you for report!

At the moment I’m not planning to add Ember 4 support, see https://github.com/lifeart/ember-ast-hot-load/issues/729 for details.

Anyway, you could try to get it working improving this PR: https://github.com/lifeart/ember-ast-hot-load/pull/772